/* HEADER */
.header {
  grid-area: header;
  background: linear-gradient(52deg, rgba(0,0,0,1) 37%, rgba(0,0,0,0.8575805322128851) 60%, rgba(0,0,0,0.7287289915966386) 93%);
  padding: 30px 60px;;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  
 
}

.logo {
  max-width: 150px;
}

.logo h1 {
  letter-spacing: 3px;
}

.nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.nav a {
  display: block;
  padding: 10px;
  color: rgba(255,255,255,.8);
  font-size: 1.125em;
  border-radius: 10px;
  transition: all .5s ease;
  text-decoration: none;
}

.nav li:last-child a {
  background: rgba(255,255,255);
  color: #000;
}

.nav li:last-child a:hover {
  background: rgba(255,255,255, .8);
  color: #000;
}

.nav a:hover {
  background: rgba(255,255,255);
  color: #000;
}

.nav i {
  display: block;
  padding: 10px;
  font-size: 1.125em;
  color: rgba(255,255,255,.8);
  margin: 0 15px;
}

.nav li + li {
  margin-left: 30px;
}

.header a h1 {
  color: #fff;
  font-size: 2.75em;
}

/* SIDENAV */
.sidenav {
  grid-area: sidenav;
  background: #1e1e24;
  height: 100vh;
  width: 6em;
  position: fixed;
  transition: width 200ms ease;
  z-index:1;
}

.sidenav ul {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.sidenav li {
  width: 100%;
  text-align: center;
}

.sidenav li:last-child {
  margin-top: auto;
}

.sidenav a {
  display: flex;
  align-items: center;
  height: 5rem;
  color: #fff;
  filter: grayscale(100%) opacity(0.7);
  transition: filter 100ms ease;
  transition: background 200ms ease;
  text-decoration: none;

}

.sidenav a:hover {
  filter: grayscale(0%) opacity(1);
  background: #19191E;
}

.sidenav li:first-child a {
  filter: grayscale(0%) opacity(1);
}

.sidenav li:first-child a:hover {
  background: #1e1e24;
}

.sidenav span {
  display: none;
  margin-left: 1rem;
  font-size: 1.225em;
}

.sidenav i {
  min-width: 2rem;
  margin: 0 1.5rem;
  font-size: 1.5em;
}

.side_logo {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  letter-spacing: 0.3ch;
  

}

.sidenav:hover {
  width: 16rem;
}

.sidenav:hover span {
  display: block;
}

/*equipe*/
.card {
    position: relative;
    width: 200px;
    height: 200px;
    background-color: #f2f2f2;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    perspective: 1000px;
    box-shadow: 0 0 0 5px #ffffff80;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    margin-top: 40px;
  }
  
  .card svg {
    width: 48px;
    fill: #333;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px;
  }
  
  .card__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #f2f2f2;
    transform: rotateX(-90deg);
    transform-origin: bottom;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .card:hover .card__content {
    transform: rotateX(0deg);
  }
  
  .card__title {
    margin: 0;
    font-size: 24px;
    color: #333;
    font-weight: 700;
  }
  
  .card:hover svg {
    scale: 0;
  }
  
  .card__description {
    margin: 10px 0 0;
    font-size: 14px;
    color: #777;
    line-height: 1.4;
  }

  .geral{
    width: 100%;
    display: flex;
    margin: 0 auto;
    margin-bottom: 150px;
    
    
   
  }

  .coluna1{
    color: #71A0FF;
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    width: 600px;
    height: 600px;
    margin-left: 190px;
    margin-top: 100px;
  }
 .coluna2{
   
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    width: 600px;
    height: 600px;
    margin-left: 190px;
    margin-top: 100px;
    

  
}

.grupo1,.grupo2,.grupo3,.grupo4{

    justify-content: space-evenly;

}

.imagens{
    width: 100px;
    height: 190px;
    border: 2px solid transparent;
    border-radius: 10px;
  }